*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

body{
    padding: 0;
    margin: 0;
    background-color: white;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/*body*/
header{
    background: white;
    color: black;   /*text*/
    min-height: 70px;
    border-bottom: 3px solid darkgreen;   
}

a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}



header li{
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
} 

#brand{
    float: left; 
   
}

#brand h1, #brand h2{
    margin: 0;    
}

#navBar{
    float: right;
    padding-right: 10%;
    padding-top: 20px;
}

.highlight, header .current a{
    font-weight: bold;
    color: darkgreen;
}

a:hover{
    font-weight: bold;
}

/**/

.textContainer .container{
    font-size: 25px;
    line-height: 2.0;
}

.textContainer{
    background: lightslategrey;
    border-bottom: 3px solid darkgreen; 

}

#mainArticle{
    background: black;
    min-height: 320px;
    border-bottom: 3px solid darkgreen; 
    
}

#mainArticle img{
    display: block;
    object-fit: cover;  
    width: 100%;
    height: 320px;
    margin-left: auto;
    margin-right: auto;

    filter: blur(2px);
    border-bottom: 2px solid darkgreen; 
    border-top: 2px solid darkgreen; 
}

#boxes{
    margin-top: 20px;

}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;  
    text-align: center;
}

#boxes .box img{
    width: 150px;
}

#boxes .container{
    display: inline-block;
}

.bonusText{

    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 350px;
    left: 10%;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 1px #000, /* horizontal-offset vertical-offset 'blur' colour */
    -2px -2px 1px #000,
    0px -2px 1px #000,
    -2px 0px 1px #000,
    2px 0px 1px #000,
    0px 2px 1px #000;
    -moz-text-shadow: 0 0 3px #000;
    -webkit-text-shadow: 0 0 3px #000;
}



footer{
    
    color: darkslategray;
    background-color: lightslategrey;  
    border-top: 3px solid darkgreen;   
    padding: 45px;
    margin-top: 30px;
   
}
.socialMedia{
    float: right;
}

.socialMedia li{
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}

.socialMedia img{
    width: 50px;    
}