*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

body{
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/*body*/
header{
    background: white;
    color: black;   /*text*/
    min-height: 70px;
    border-bottom: black 3px soliod;
}

a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}



header li{
    float: left;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
} 

#brand{
    float: left;    
}

#brand h1, #brand h2{
    margin: 0;    
}

#navBar{
    float: right;
    padding-right: 10%;
    padding-top: 20px;
}

.highlight, header .current a{
    font-weight: bold;
    color: darkgreen;
}

a:hover{
    font-weight: bold;
}

/**/

article{
    background: white;
    min-height: 400px;

}

#mainArticle img{
    
    display: block;
    object-fit: cover;  
    width: 320px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

