*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

body{
    padding: 0;
    margin: 0;
    background-color: #f8f8f6;
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;

}

/*nav bar*/
#navBar{
    float: right;  
}

#navBar li{
    padding-left: 2px;
    padding-right: 2px;
}

#navBar a{
    max-width: 5px;
    border: 2px solid black;
    background: white;
    padding: 2px 10px 2px 10px;
}

#navBar a:hover{
    background: cadetblue;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/*body*/
header{
    font-size: 30px;
    background: f8f8f6;
    color: black;   /*text*/
    min-height: 70px;
    border-bottom: 3px solid darkgreen;   
}

a{
    color: black;
    text-decoration: none;
    
}

header{
    background: white;
}

header li{
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
} 

#brand{
    float: left; 
   
}

#brand h1, #brand h2{
    margin: 0;    
}

#navBar{
    float: right;
    padding-right: 10%;
    padding-top: 20px;
}

.highlight, header .current a{
    font-weight: bold;
    color: darkgreen;
}


/**/

.imageLogo{
    width: 70px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}


.textContainer{
    background: f8f8f6;
}

.titleText{
    color: darkgreen;
    font-weight: bold;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.textBox{
    font-size: 25px;
    line-height: 1.5;
    background: white;
    border: 2px solid darkgreen;
    float: left;
    
    padding: 10px;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}


#mainArticle{
    background: black;
    min-height: 320px;
    border-bottom: 3px solid darkgreen; 
    
}

#mainArticle img{
    display: block;
    object-fit: cover;  
    width: 100%;
    height: 320px;
    margin-left: auto;
    margin-right: auto;

    filter: blur(2px);
    border-bottom: 2px solid darkgreen; 
    border-top: 2px solid darkgreen; 
}



#boxes{
    margin-top: 20px;

}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;  
    text-align: center;
}

#boxes .box img{
    width: 150px;
}

#boxes .container{
    display: inline-block;
}

.bonusText{

    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 350px;
    left: 10%;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 1px #000, /* horizontal-offset vertical-offset 'blur' colour */
    -2px -2px 1px #000,
    0px -2px 1px #000,
    -2px 0px 1px #000,
    2px 0px 1px #000,
    0px 2px 1px #000;
    -moz-text-shadow: 0 0 3px #000;
    -webkit-text-shadow: 0 0 3px #000;
}

/*read more*/

.read{
    border: 2px solid darkgreen;
    float: right;
    padding: 4px;
    margin: 20px;
}

.read:hover{
    background: cadetblue;
}

/**/


footer{
    
    color: darkslategray;
    background-color: lightslategrey;  
    border-top: 3px solid darkgreen;   
    padding: 45px;
    margin-top: 30px;

    
}

footer p{
    max-width: 39%;
}

.socialMedia{
    float: right;
    max-width: 60%;
}

.socialMedia li{
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}

.socialMedia img{
    width: 50px;    
}


/*images*/

.imageBox{
    max-height: 400px; 
    border: 3px solid darkgreen;   
    display: block;
    margin-right: auto;
    margin-left: auto;
}